html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}


#header {
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
  background: rgba(100, 100, 100, .9);
  position: fixed;
  z-index: 10;
}

#header h1 {
  float: left;
}

#header li {
  display: inline;
  list-style: none;
  float: right;
  margin-right: 5px;
}

#index {
	width: 17em;
	position: fixed;
	top: 5em;
}

#index li {
  height: 40px;
  background: lightgray;
  margin-bottom: 5px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  list-style: none;
}

#index li:hover {
  background: gray;
}

#dataTitle {
	position: absolute;
	left: 20em;
	top: 5em;
}

#dataContent {
	width: 60%;
	position: absolute;
	left: 20em;
	top: 8em;
}

#intro { position:fixed; top:.5em; left:11em; z-index:11; }
#bookmark { position:fixed; top:3em; }



